/*
D4: 
Want to add 3 changes to the dashboard: 
1. background color to webpage
2. image to jumbotron
3. custom font
When the dashboard is first opened in a browser, 
ID 940’s data should be displayed in the dashboard, 
and the three charts should be working according to their requirements
+ ...
When a sample is selected, the dashboard should display the data
in the panel and all three charts according to their requirements
https://stackoverflow.com/questions/22000754/responsive-bootstrap-jumbotron-background-image
*/

body {
    color: #0e0a0a;
    background-color: rgb(241, 237, 237);
}
 
.tag {
    font-family: inherit; 
    font-size: 1rem;
}  

.jumbotron {
    background-image: url("bacteria.jpg");
    background-size: cover;
    
}
.jumbotron h1 {
    color: rgb(237, 241, 241);

}
.jumbotron p {
    color: rgb(241, 237, 237);
}